.login__conteiner{
    height: 90vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__login{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__login-display{
    height: 50%;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login__signup{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}