.login__conteiner{
    height: 90vh;
    width: 100%;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login__display{
    height:auto;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.login__display > *{
    margin: 1rem;
}
.login__display input{
    padding: .5rem;
}
@media only screen and (max-width: 768px) {
    .login__conteiner{
        flex-direction: column;
    }
  }