@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

.Navbar__conteiner{
    height: 10vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Navbar__conteiner a{
    color: var(--tertiary-color);
    text-decoration: none;
    position: relative;
}
.Navbar__conteiner a::before{
    position: absolute;
    content: '';
    display: inline-block;
    height: 2px;
    width: 0%;
    bottom: 0;
    transition: all 1s ease;
}
.Navbar__conteiner a:hover::before{
    background-color: white;
    width: 100%;
}