*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
:root {
  --primary-color:#005689;
  --secondary-color:#007cb9;
  --tertiary-color:#d5eeff;
}
[data-theme="dark"]{
  --primary-color:#E74646;
  --secondary-color:#FA9884;
  --tertiary-color:#FFE5CA;
}
